<div th:fragment="navar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    data-mdb-collapse-init
                    class="navbar-toggler"
                    type="button"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img
                            src="https://ik.imagekit.io/n1ccwsxwg/207-2076417_pet-frie.png?updatedAt=1710094888004"
                            height="40"
                            alt="MDB Logo"
                            loading="lazy"
                    />
                </a>
                <!-- Left links -->

                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">


                <div class="button-add-product" th:if="${user.hasRole('ROLE_ADMIN')}">
                    <a th:href="@{/product/create}"  >
                        <button id="ads" type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Добавить товар
                        </button>
                    </a>
                </div>

                <!-- Icon -->
                <a class="text-reset me-3" th:href="@{/cart}">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <a class="text-reset me-3" th:href="@{/order}">
                    <i class="fa-solid fa-list-check"></i>
                </a>

                <!-- Notifications -->
                <div class="dropdown">
                    <a
                            data-mdb-dropdown-init
                            class="text-reset me-3 dropdown-toggle hidden-arrow"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            aria-expanded="false"
                    >

                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </div>



                <!-- Avatar -->
                <div class="dropdown">
                    <a
                            data-mdb-dropdown-init
                            class="dropdown-toggle d-flex align-items-center hidden-arrow"
                            href="#"
                            id="navbarDropdownMenuAvatar"
                            role="button"
                            aria-expanded="false"
                    >
                        <span th:text="${user.name}" ></span>
<!--                        <img-->
<!--                                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"-->
<!--                                class="rounded-circle"-->
<!--                                height="25"-->
<!--                                alt="Black and White Portrait of a Man"-->
<!--                                loading="lazy"-->
<!--                        />-->
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuAvatar"
                    >
                        <li>
                            <a class="dropdown-item" th:href="@{/cart}">My cart</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/order}">My orders</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->


</div>