html,body {
    width: 100%;
    height: 100%;

    display: block;
}

.wrapper{
    min-height: 100vh;
}

.card{
    flex: 0 0 auto;
}

.button-add-product{
    margin-right: 10px;
}
.col-lg-3{
    margin-bottom: 20px; !important;
}
.d-flex{
    justify-content: center;
}
.card:hover {
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

.link-menu{
    display: flex;
    justify-content: flex-start;
    position: sticky;
    flex-flow: wrap;
    font-size: large;
}

.menu-category-name{
    margin-top: 100px;
    margin-bottom:100px;
    font-size: large;
}
.menu-link-item{
    margin-right: 30px;
    color: #939290;
}
.active-link{
    border-color: #e4002b;
    color: #e4002b; !important;
    border-bottom: 2px solid;
    padding: 10px;
}

.active-link:hover{
    border-color: #e4002b;
    color: #e4002b; !important;
    border-bottom: 2px solid;
    padding: 10px;
}
.menu-link-wrapper{
    padding: 10px;
    text-align: center;
    align-items: center;
}
.menu-link-item{
    text-decoration: none;
    color: inherit;
}
.menu-link-item:active{
    text-decoration: none;
    color: inherit;

}
.menu-link-item:hover{
    text-decoration: none;
    color: inherit;

}
