.card{
    min-width: 80%;

    margin-bottom: 40px;
}
.card-body{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.non-margin-bottom{
    margin-bottom: 0;
}

.order-number{
    display: flex;
    flex-direction: column;
}

html,body {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: block;
}

#global-body{
    display: flex;
    flex-direction: column;
}