.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}

.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-content: center;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 50rem;

}

.floating-field {
    font-size: medium;
}

html,body {
    width: 100%;
    height: 100%;
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614404414_61-p-pitstsa-na-temnom-fone-81.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: block;
}
.form-field{
    margin-bottom: 20px;
}
.error,.asteriskField{
    color: #cc0033;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#registration-form {
    margin: auto;
    margin-top: 5%;
    margin-bottom:5%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

#registration-form label {
    display: block;
    margin-bottom: 10px;
}

/*#registration-form input[type="text"],*/
/*#registration-form input[type="email"],*/
/*#registration-form input[type="password"] {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border-radius: 10px;*/
/*    border: 1px solid #ccc;*/
/*    box-sizing: border-box;*/
/*    margin-bottom: 20px;*/
/*}*/

#registration-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

#registration-form button:hover {
    background-color: #45a049;
}

.asteriskField{
    color: red;
}

#profile-user-image img{
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

#image-container{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#profile-user-image{
    position: relative;
    width: 234px;
    height: 234px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}