<!DOCTYPE html>
<head>
    <link rel="stylesheet" th:href="@{/css/add_product.css}">
    <!-- Font Awesome -->
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
    <title>Product</title>

</head>
<body>
<div class="container" style="height: 100%;width: 100%">
    <div>
        <h2 Добавление нового блюда></h2>
        <div class="form-group" th:if="${#fields.hasErrors('product')}">
            <span class="help-block" th:each="err : ${#fields.errors('product')}" th:text="${err}"></span>
        </div>
        <div id="registration-form">
            <form th:action="@{/product/create}" method="post"  enctype="multipart/form-data" id="register-form" th:object="${product}">

                <div class="form-field">
                    <label class="form-label" for="title">Название блюда </label>
                    <input type="text" id="title" class="form-control" th:field="*{title}"/>
                    <p class="error" th:if="${unique_error != null}">Блюдо с таким именем уже существует</p>
                    <p th:if="${#fields.hasErrors('title')}" th:errorclass="error" th:errors="*{title}"></p>
                </div>

                <div class="form-field">
                    <label class="form-label" for="description">Описание блюда </label>
                    <textarea  id="description" class="form-control" th:field="*{description}" maxlength="200" ></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errorclass="error" th:errors="*{description}"></p>
                </div>

                <div class="form-field">
                    <label class="form-label" for="price">Цена блюда </label>
                    <input type="number"  oninput="validity.valid||(value='');"  id="price" class="form-control"  th:field="*{price}">
                    <p th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}"></p>
                </div>

                <div class="form-field">
                    <label class="form-label" for="count">Количество блюда </label>
                    <input type="number"  oninput="validity.valid||(value='');"  id="count" class="form-control"  th:field="*{count}">
                    <p th:if="${#fields.hasErrors('count')}" th:errorclass="error" th:errors="*{count}"></p>
                </div>

                <div class="form-field">
                    <label class="form-label" for="timeCookingMinutes">Время приготовления(в мин.) </label>
                    <input type="number" oninput="validity.valid||(value='');"   id="timeCookingMinutes" class="form-control"  th:field="*{timeCookingMinutes}">
                    <p th:if="${#fields.hasErrors('timeCookingMinutes')}" th:errorclass="error" th:errors="*{timeCookingMinutes}"></p>
                </div>

                <div class="form-field">
                    <label class="form-label" for="category">Категория товара</label>
                    <select class="form-select" id="category" th:field="*{category}" aria-label="Default select example">
                        <option value="1">Бургеры</option>
                        <option value="2">Роллы</option>
                        <option value="3">Баскеты</option>
                        <option value="4">Десерты</option>
                        <option value="5">Холодные напитки</option>
                    </select>
                    <p th:if="${#fields.hasErrors('category')}" th:errorclass="error" th:errors="*{category}"></p>
                </div>

                <div class="form-field">
                    <label class="form-label" for="imageProduct">Картинка товара</label>
                    <span id="imageId" style="display: none"></span>
                    <input type="file" id="imageProduct" class="form-control" th:field="*{imageFile}" >
                    <p th:if="${#fields.hasErrors('imageFile')}" th:errorclass="error" th:errors="*{imageFile}"></p>
                    <p class="error" th:if="${ null_file != null}">Не прикреплена картинка</p>
                    <p class="error" th:if="${creation_error != null}">Ошибка добавления товара</p>
                </div>





                <button form="register-form" type="submit">
                    Добавить
                </button>
            </form>

        </div>


    </div>
</div>
<script th:src="@{/js/add-product.js}"></script>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</body>
<!-- MDB -->

</html>

