<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-token-with-polyfills-latest.js"></script>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <title>Корзина</title>
</head>
<body style="min-height: 100%">

<section class=" h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div style="position: fixed;top: 10px;right: 10px;z-index: 1000" class="toast align-items-center" role="alert" aria-live="assertive" id="error" aria-atomic="true" th:if="${error} != ''">
            <div class="d-flex">
                <div class="toast-body" th:text="${error}">
                    Hello, world! This is a toast message.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Корзина</h1>
                                        <h6 class="mb-0 text-muted" th:text="${itemNumber} + ' Товаров' "></h6>
                                    </div>
                                    <hr class="my-4">

                                    <div th:each="item : ${products}"
                                         class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img th:src="${item.getImageUrl()}" alt="Image"
                                                 style="width: 100%; height: 100%"
                                                 class="img-fluid" th:if="${item.imageUrl} != null">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h6 class="text-muted" th:text="${item.category}"></h6>
                                            <h6 class="text-black mb-0" th:text="${item.name}"></h6>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex" style="align-items: center">
                                            <form method="post" th:action="@{/cart/subst}">
                                                <input name="productName" type="hidden" th:value="${item.name}">
                                                <button type="submit" class="btn btn-link px-2"
                                                >
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </form>

                                            <form method="post" class="update-quantity-form"
                                                  th:action="@{/cart/update}">
                                                <input oninput="validity.valid||(value='');" min="0" name="quantity"
                                                       th:value="${item.count}" type="number"
                                                       class="form-control form-control-sm no-text-decoration"/>
                                                <input type="hidden" name="productName" th:value="${item.name}">
                                            </form>


                                            <form method="post" th:action="@{/cart/increase}">
                                                <input name="productName" type="hidden" th:value="${item.name}">
                                                <button type="submit" class="btn btn-link px-2"
                                                >
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h6 class="mb-0" th:text="${item.price*item.count} +  '₽'"></h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <form method="post" th:action="@{/cart/delete}">
                                                <input type="hidden" name="productName" th:value="${item.name}">
                                                <button type="submit">
                                                    <i class="fas fa-trash-can"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                                    <hr class="my-4">


                                    <div class="pt-5">
                                        <h6 class="mb-0"><a th:href="@{/}" class="text-body"><i
                                                class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Общая сумма</h5>
                                        <h5 th:text=" ${totalSum} + ₽ "></h5>
                                    </div>
                                    <form method="post" th:action="@{/order/create}">
                                        <button type="submit" class="btn btn-dark btn-block btn-lg"
                                                data-mdb-ripple-color="dark">Купить
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:src="@{/js/cart.js}"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script
        type="text/javascript"

        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>

</html>
