<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-token-with-polyfills-latest.js"></script>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <title>Restraunt</title>
</head>
<body>

<div class="wrapper main">
    <div class="container mt-4 ">
        <header>
            <div th:insert="~{include/navbar :: navar}">
            </div>
        </header>
        <div class="main__content" style="margin-top: 50px">

            <div class="link-menu" style="position: sticky;top: 0; bottom: 0; left: 0;z-index: 1001 ">
                <div th:each="category : ${categories}">
                    <div class="menu-link-wrapper" style="height: 100%"
                         th:classappend="(${category.getId()} == 1) ? 'active-link' : ''">
                        <a class="menu-link-item" th:href="'#' + ${category.name}" th:text="${category.name}"
                           style="margin-left: auto;margin-right: auto"></a>
                    </div>

                </div>
            </div>
            <div th:each="category : ${categories}" style="margin-bottom: 20px">
                <div class="menu-category-name">
                    <strong class="menu-category-name" th:text="${category.name}" th:id="${category.name}"
                          style="margin-bottom: 50px"></strong>
                </div>

                <div class="row g-2 g-lg-3">
                    <div class="col-md-12 col-lg-3 mb-4 mb-lg-0" th:each="item : ${category.getProducts()}">
                        <div class="card" style="border-radius: 15px;">
                            <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                                 data-mdb-ripple-color="light"
                                 style="padding: 20px;align-content: center;text-align: center;height: 250px;" >

                                <img th:src="${item.getImageUrl()}" alt="Image"
                                     style="border-top-left-radius: 15px; border-top-right-radius: 15px;width: 100%; height: 100%;margin-left: auto"
                                     class="img-fluid" >
                                <a href="#!">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-body pb-0">
                                <div class="d-flex ">
                                    <div>
                                        <p><a href="#!" class="text-dark" th:text="${item.title}"></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                                    <a href="#!" class="text-dark fw-bold" th:text="${item.price} + ₽"></a>
                                    <div style="display:flex;flex-direction: column">
                                        <div style="display: flex; flex-direction: row" >
                                            <form th:action="@{/cart/add-product}" method="post">
                                                <input type="hidden" name="id" th:value="${item.id}">
                                                <button type="submit" class="btn btn-primary">В корзину</button>
                                            </form>
                                            <form th:action="@{/product/delete}" method="post" th:if="${user.hasRole('ROLE_ADMIN')}" style="margin-left: 5px">
                                                <input type="hidden" name="id" th:value="${item.id}">
                                                <button type="submit" class="btn btn-primary">  <i class="fas fa-trash-can"></i></button>
                                            </form>
                                        </div>
                                        <form th:action="@{/product/update}" method="get" style="margin-top: 15px;"
                                              th:if="${user.hasRole('ROLE_ADMIN')}">
                                            <input type="hidden" name="id" th:value="${item.id}">
                                            <button type="submit" class="btn btn-danger ">Редактировать</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script th:src="@{/js/layout.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script
        type="text/javascript"

        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>

</html>