<!DOCTYPE html>
<html lang="en" style="min-height: 100vh">
<head>
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-token-with-polyfills-latest.js"></script>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <title>Orders</title>
</head>



<body style="min-height: 100%">
<section class="h-custom" style="background-color: #d2c9ff;min-height: 100%">
    <div class="container py-5 h-100">
        <div id="global-body" class="card-body p-0">
            <h1>Заказы</h1>

            <div class="card" th:each="order : ${orders}">
                <div class="card-body">
                    <div class="order-info">

                        <p><strong th:text="${order.getStatus()}"></strong></p>
                        <p class="non-margin-bottom"
                           th:text="${#temporals.format(order.createdTime, 'dd MMM yyyy, HH:mm')}"></p>
                    </div>
                    <div class="order-number">
                        <span style="font-size: 26px" class="badge badge-primary"
                              th:text="${order.getUniqueNumberOfOrder()}"></span>

                        <form method="post" th:action="@{/order/cancel}" th:if="${order.getStatus().name()!='READY' && order.getStatus().name()!='PAID'}"
                              style="margin-top: 20px">
                            <input type="hidden" name="orderId" th:value="${order.id}">

                            <button class="btn btn-primary" type="submit">Отменить заказ</button>
                        </form>
                        <form method="post" th:action="@{/order/paid}" th:if="${order.getStatus().name() =='READY'}"
                              style="margin-top: 20px">
                            <input type="hidden" name="orderId" th:value="${order.id}">

                            <button class="btn btn-primary" type="submit">Оплатить заказ</button>
                        </form>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="products">
                        <div class="product" th:each="product:${order.getPaidOrderDetails()}">
                            <span th:text="${product.getProduct().title}"></span>
                            <span th:text="${product.getCount()} + 'x' + ${product.getProduct().price} + '₽'"></span>
                        </div>
                    </div>
                    <div class="sum">
                        <strong>Итого</strong>
                        <span th:text="${order.getTotalSum()} + '₽'"></span>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <h6 class="mb-0"><a th:href="@{/}" class="text-body"><i
                    class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
        </div>
    </div>

</section>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script
        type="text/javascript"

        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</html>