<!DOCTYPE html>
<head>
    <link rel="stylesheet" th:href="@{/css/add_product.css}">
    <!-- Font Awesome -->
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
    <title>Product</title>

</head>
<body>
<div class="container" style="height: 100%;width: 100%">
    <div>
        <h2 th:text="'Редактирвоние блюда ' + ${productName}" ></h2>
        <div id="registration-form">
            <form th:action="@{/product/update}" method="post"  enctype="multipart/form-data" id="register-form" th:object="${product}">
                <input type="hidden"  name="id" th:field="*{id}">
                <div class="form-field">
                    <label class="form-label" for="price">Цена блюда </label>
                    <input type="number"  oninput="validity.valid||(value='');"  id="price" class="form-control"  th:field="*{price}">
                    <p th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}"></p>
                </div>

                <div class="form-field">
                    <label class="form-label" for="count">Количество блюда </label>
                    <input type="number"  oninput="validity.valid||(value='');"  id="count" class="form-control"  th:field="*{count}">
                    <p th:if="${#fields.hasErrors('count')}" th:errorclass="error" th:errors="*{count}"></p>
                </div>

                <div class="form-field">
                    <label class="form-label" for="timeCookingMinutes">Время приготовления(в мин.) </label>
                    <input type="number" oninput="validity.valid||(value='');"   id="timeCookingMinutes" class="form-control"  th:field="*{timeCookingMinutes}">
                    <p th:if="${#fields.hasErrors('timeCookingMinutes')}" th:errorclass="error" th:errors="*{timeCookingMinutes}"></p>
                </div>




                <button form="register-form" type="submit">
                    Изменить
                </button>
            </form>

        </div>


    </div>
</div>
<script th:src="@{/js/add-product.js}"></script>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</body>
<!-- MDB -->

</html>

